# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
**/node_modules/
**/dist/
**/dist-ssr/
**/.vite/
*.local

# Env files
.env
.env.*
!.env.example

# Maven / Java build outputs
**/target/
**/build/

# Maven (wrapper)
**/.mvn/
**/mvnw
**/mvnw.cmd

# Java
*.class

# IntelliJ / IDE files
**/.idea/
*.iml
*.iws
*.ipr
out/

# Project docs to ignore
**/HELP.md

# Eclipse
.settings/
.classpath
.project
bin/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
Desktop.ini
